@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

*{
  font-family: 'Rubik', Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  z-index: 999;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgb(229, 212, 255), transparent);
  transition: 1s;
}
.header:hover::before {
  left: 100%;
}
.logo {
  color: #D0A2F7;
  font-size: 35px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  font-style: italic;
  padding: 15px;
  background-size: 500%;
  background-image: linear-gradient(to left, #F1EAFF, #D0A2F7, #A076F9, #6528F7);
  background-clip: text;
  color: transparent;
  animation: bg-animation 5s infinite alternate;
}
@keyframes bg-animation{
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #A076F9;
  color: #A076F9;
  display: inline-block;
  font-size: 20px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-width: 3px;
  border-radius: 10px;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #A076F9;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
