<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Example</title>
</head>
<body>
<header class="header">
  <a routerLink="post-list" class="logo">SHAREVISTA</a>

  <nav class="navbar">
    <!-- <button class="button-89" routerLink="post-add" role="button">Create</button> -->
    <button class="button-57" routerLink="post-add" role="button"><span class="text">Create</span><span>Post</span></button>

  </nav>
</header>

</body>
</html>


